Makefile
Makefile.in
*.Po
*.Plo
*.o
*.lo
*.a
*.la
*.1
*.0
*.Tpo
m4
aclocal.m4
config.log
config.status
configure
libtool
*.swn
*.swo
*.swp
*~
autom4te.cache
bin
lib/.libs
config.guess
config.sub
ltmain.sh
/.project
/.cproject
/.directory
/.gitignore
/Release/
/Debug/
/.settings/
/.pydevproject
/compile
depcomp
missing

status
tags
